$login-bg-m-color: rgba(34, 41, 80, .85);
$login-header-bor: rgba(255, 255, 255, .2);

$base-text-color: #fff;
$dm-select-color: rgba(5, 16, 33, .5);
$text-title: rgba(5, 16, 33, .72);
$box-shadow-color: rgba(16, 48, 102, .08);
$text-blue: #2979FF;
$icon-bgc: rgba(24, 43, 77, .05);
$title-bgc: rgba(41, 121, 255, .08);
$border-color: rgba(41, 121, 255, .5);
$tip-color: rgba(5, 16, 33, .28);

$text-yellow: #FFCE2B;
$home-box-shadow: rgba(16, 48, 102, .08);
$home-header-span: rgba(255, 255, 255, .75);
$home-con-con: rgba(5, 16, 33, .34);
$ccd-header-bgc: rgba(74, 82, 94, .04);
$ccd-li-bgc: rgba(10, 19, 33, .04);

$input-boder: #5182E4;
$login-form-label: rgba(255, 255, 255, .5);
$login-text: rgba(255, 255, 255, .6);

$body-bgc: #FAFBFC;
$footer-box-shadow: rgba(65, 65, 66, .1);
$tip-red: #E45151;
$nwd-box-border: rgba(95, 97, 102, .12);
$ts-header: rgba(95, 97, 102, .64);
$ts-seq-bgc: rgba(10, 19, 33, .2);
$item-body-span: rgba(10, 18, 33, .42);
$item-footer-other: rgba(5, 16, 33, .1);
$ts-step3-main-span: rgba(10, 18, 32, .46);
$tm-left-border: rgba(24, 43, 77, .15);
$np-item-tip: rgba(5, 16, 33, .42);

$wt-text-color: #dcdcdc;
$ud-body-span: #000;
$ud-header-span2: rgba(0, 0, 0, .15);
$ud-header-span3: rgba(5, 16, 33, .64);
$exc-table-header: rgba(81, 130, 228, .6);
$ud-step2-table: rgba(41, 121, 255, .18);

$header-left-color: #0065FF;
$header-right-color: #009DFE;
$-webkit-scrollbar-thumb: rgba(150, 150, 150, .3);

$plugin-blue: #2d8cf0;
$plugin-ivu-steps-item: #ccc;
$plugin-ivu-modal-body: #e5e5e5;
$plugin-ivu-steps-tail: #e8eaec;
$reset-a: #666;

$dm-detail-bdr: rgba(0, 0, 0, .1);
