.home-main {
  width: 100%;
  height: 100%;
  .imgs {
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .img-box {
      width: 100px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, .3);
      padding: 5px;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}